ul > li + li {
  margin-left: 5px;
  padding-left: 5px;
  border-left: 2px solid #58656570;
}

.card-content > h1 {
  display: inline-block;
  margin: 0;
}
.card-content > h1:after {
  display: block;
  content: "";
  border-bottom: solid 2px #7e1010;
  transform: scaleX(0.2);
  transition: transform 250ms ease-in-out;
}
.card-content > h1:hover:after {
  transform: scaleX(1);
  color: #7e1010;
}
.card-content > h1:after {
  transform-origin: 0% 50%;
  color: #7e1010;
}
.card-content > h1:hover {
  color: #7e1010;
  cursor: pointer;
}
