/* ARROW ANIMATION */
svg.hover-arrow {
  height: 22px;
  width: 60px;
  transition: 250ms all ease;
  cursor: pointer;
  display: flex;
}
svg.hover-arrow path {
  transition: 250ms all ease;
  height: 100%;
}
svg.hover-arrow:hover {
  opacity: 1;
}
p {
  transition: 250ms all ease;
}