@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  background-color: #f8f7f7;
}
.underline-on-hover {
  background-image: linear-gradient(120deg, #f7d06b, #ed7372);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  color: #18728b;
}
.underline-on-hover:hover {
  cursor: default;
  background-size: 100% 88%;
  color: black;
}

/* NAVIGATION ON MOBILE*/
.mobile-nav {
  position: fixed;
  z-index: 40;
  top: -100%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: hsla(193, 57%, 41%, 0.99);
}

.showNav {
  -webkit-animation: showNav 0.8s ease forwards;
  -moz-animation: showNav 0.8s ease forwards;
  -o-animation: showNav 0.8s ease forwards;
  animation: showNav 0.8s ease forwards;
}
@keyframes showNav {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

@-webkit-keyframes showNav {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

@-moz-keyframes showNav {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

@-o-keyframes showNav {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}
@keyframes hideNav {
  from {
    top: 0;
  }
  to {
    top: -100%;
  }
}

@-webkit-keyframes hideNav {
  from {
    top: 0;
  }
  to {
    top: -100%;
  }
}

@-moz-keyframes hideNav {
  from {
    top: 0;
  }
  to {
    top: -100%;
  }
}

@-o-keyframes hideNav {
  from {
    top: 0;
  }
  to {
    top: -100%;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1.05);
  }
}

.pulse-hover {
  transition: all ease-in-out;
}
.pulse-hover:hover {
  animation: pulse 350ms infinite alternate;
}

.hideNav {
  -webkit-animation: hideNav 1s ease forwards;
  -moz-animation: hideNav 1s ease forwards;
  -o-animation: hideNav 1s ease forwards;
  animation: hideNav 1s ease forwards;
}

.nav-link {
  display: inline-block;
  margin: 0;
  transition: transform 250ms ease-in-out;
}
.nav-link:after {
  display: block;
  content: "";
  border-bottom: solid 2px #7e1010;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.nav-link:hover:after {
  transform: scaleX(1);
  color: #7e1010;
  transform-origin: 0% 50%;
}
.nav-link:after {
  transform-origin: 0% 50%;
  color: #7e1010;
}
.nav-link:hover {
  color: #7e1010;
}
.hovered::after {
  display: block;
  content: "";
  color: #7e1010;
  border-bottom: solid 2px #7e1010;
  transition: transform 250ms ease-in-out;
  transform-origin: 0% 50%;
}
.hovered {
  color: #7e1010;
}
.logo-link {
  text-shadow: 2px 2px 4px #18728b0e;
  transition: all 150ms ease-in-out;
}
.logo-link:hover {
  text-shadow: 5px 3px 4px #18728b2b;
}
.icon {
  filter: grayscale(60%) contrast(1);
  background-color: #cdcdcd;
  color: rgba(0, 0, 0, 0.652);
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}
.icon > img {
  filter: grayscale(0%) !important;
}
.icon:hover {
  transform: translateY(-5px) scale(1.1);
  filter: grayscale(0%);
  color: black;
  background-color: #2d8aa498;
}

.ul-tech > li + li {
  border-left: 2px solid #58656570;
  padding-left: 0.25rem;
}

.project-title {
  display: inline-block;
  margin: 0;
}
.project-title:after {
  display: block;
  content: "";
  border-bottom: solid 2px #7e1010;
  transform: scaleX(0.2);
  transition: transform 250ms ease-in-out;
}
.project-title:hover:after {
  transform: scaleX(1);
  color: #7e1010;
}
.project-title:after {
  transform-origin: 0% 50%;
  color: #7e1010;
  cursor: pointer;
}
.project-title:hover {
  color: #7e1010;
  cursor: pointer;
}
.scrolling-pic {
  transform: translateY(0%);
  transition: transform 8s ease-in-out 0s;
}
.scrolling-pic:hover {
  transform: translateY(-70%);
}
.separator {
  flex: 1 1;
  height: 1px;
  background-color: #222326;
}
.socials {
  filter: grayscale(80%) contrast(1);
  background-color: #cdcdcd;
  color: hsla(0, 0%, 30%, 1);
  border-radius: 0px 3px 3px 0px;
  transition: all 0.2s ease-in-out;
}
.socials:hover {
  cursor: pointer;
  filter: grayscale(0%);
  background-color: #2d8aa498;
}
.hover-arrow {
  transition: all .25s ease;
}