@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Overpass-Regular";
  src: url("./assets/fonts/Overpass/Overpass-Regular.ttf");
}
@font-face {
  font-family: "Overpass-Semibold";
  src: url("./assets/fonts/Overpass/Overpass-SemiBold.ttf");
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("./assets/fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins-Light";
  src: url("./assets/fonts/Poppins/Poppins-Light.ttf");
}

body {
  background-color: #f8f7f7;
}
.easeInFromLeft {
  animation: fadeInFromLeft 1.2s ease-in normal forwards;
}

@keyframes fadeInFromLeft {
  0% {
    opacity: 0;
    transform: translate(-100vw, 0vh);
  }
  30% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}
.easeInFromRight {
  animation: fadeInFromRight 1.2s ease-in normal forwards;
}
@keyframes fadeInFromRight {
  0% {
    opacity: 0;
    transform: translate(100vh, 0vh);
  }
  30% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}
.easeInFromBottom {
  animation: fadeInFromBottom 1.5s ease-in normal forwards;
}
@keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    transform: translate(0vh, 100vh);
  }
  30% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}
.easeInFromTop {
  animation: fadeInFromTop 1.8s ease-in normal forwards;
}
@keyframes fadeInFromTop {
  0% {
    opacity: 0;
    transform: translate(0vh, -100vh);
  }
  30% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}
