@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Overpass-Regular";
  src: url("./assets/fonts/Overpass/Overpass-Regular.ttf");
}
@font-face {
  font-family: "Overpass-Semibold";
  src: url("./assets/fonts/Overpass/Overpass-SemiBold.ttf");
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("./assets/fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins-Light";
  src: url("./assets/fonts/Poppins/Poppins-Light.ttf");
}

body {
  background-color: #f8f7f7;
}
/* NAVIGATION ON MOBILE*/
.mobile-nav {
  position: fixed;
  z-index: 40;
  top: -100%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: hsla(193, 57%, 41%, 0.98);
}

.showNav {
  -webkit-animation: showNav 1s ease forwards;
  -moz-animation: showNav 1s ease forwards;
  -o-animation: showNav 1s ease forwards;
  animation: showNav 1s ease forwards;
}
@keyframes showNav {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

@-webkit-keyframes showNav {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

@-moz-keyframes showNav {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

@-o-keyframes showNav {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}
@keyframes hideNav {
  from {
    top: 0;
  }
  to {
    top: -100%;
  }
}

@-webkit-keyframes hideNav {
  from {
    top: 0;
  }
  to {
    top: -100%;
  }
}

@-moz-keyframes hideNav {
  from {
    top: 0;
  }
  to {
    top: -100%;
  }
}

@-o-keyframes hideNav {
  from {
    top: 0;
  }
  to {
    top: -100%;
  }
}

.hideNav {
  -webkit-animation: hideNav 1s ease forwards;
  -moz-animation: hideNav 1s ease forwards;
  -o-animation: hideNav 1s ease forwards;
  animation: hideNav 1s ease forwards;
}

/*PARALLAX*/
.parallax {
  position: relative;
}
.parallax__layer {

}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  position: fixed;
  transform: translateZ(-1px) scale(2);
}